body {
  background-color: #f1f1f1;
}

header li {
  color: #000;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  position: sticky;
}
.home {
  margin: 21px 0 0 137px;
  display: inline-block;
}

.discovery {
  margin: 21px 0 0 35px;
  display: inline-block;
}
.photos {
  margin: 21px 0 0 35px;
  display: inline-block;
}
.contacts {
  margin: 21px 0 0 35px;
  display: inline-block;
}

.profile-photo {
  width: 32px;
  height: 32px;
  margin-top: 11px;
  margin-left: 29px;
  fill: url(<path-to-image>) lightgray -22.611px -0.282px / 192.965% 100%
    no-repeat;
}
.trands {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 120px;
  height: 28px;
  margin-top: 42px;
  margin-left: 137px;
}

/*first card*/

.inline {
  display: inline-block;
}

.card {
  position: relative;
  width: 362px;
  margin-left: 138px;
  margin-top: 27px;
}

.photo-box {
  width: 100%;
  height: 186px;
  border-radius: 5px 5px 0 0;
}

.text {
  position: absolute;
  top: 32px;
  left: 41px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

.card-2 {
  position: relative;
  width: 362px;
  margin-left: 138px;
}

.photo-box-2 {
  position: relative;
  width: 100%;
  height: 171px;
  border-radius: 5px;
  background-color: white;
}

.text-2 {
  position: absolute;
  color: #8a8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 68px;
  left: 37px;
}

.img-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 115px;
  left: 40px;
  display: inline-block;
}

.mins {
  position: absolute;
  display: inline-block;
  color: #8a8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 118px;
  left: 67px;
}

/*second card*/

.card-3 {
  position: relative;
  width: 362px;
  margin-left: 138px;
  margin-top: 27px;
}

.photo-box-3 {
  width: 100%;
  height: 186px;
  border-radius: 5px 5px 0 0;
}

.text-3 {
  position: absolute;
  top: 32px;
  left: 41px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

.card-4 {
  position: relative;
  width: 362px;
  margin-left: 138px;
}

.photo-box-4 {
  position: relative;
  width: 100%;
  height: 171px;
  border-radius: 5px;
  background-color: white;
}

.text-4 {
  position: absolute;
  color: #8a8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 68px;
  left: 37px;
}

.img-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 115px;
  left: 40px;
  display: inline-block;
}

.mins {
  position: absolute;
  display: inline-block;
  color: #8a8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 118px;
  left: 67px;
}

/*third card*/

.card-3 {
  position: relative;
  width: 362px;
  margin-left: 138px;
  margin-top: 27px;
}

.photo-box-3 {
  width: 100%;
  height: 186px;
  border-radius: 5px 5px 0 0;
}

.text-3 {
  position: absolute;
  top: 32px;
  left: 41px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

.card-4 {
  position: relative;
  width: 362px;
  margin-left: 138px;
}

.photo-box-4 {
  position: relative;
  width: 100%;
  height: 171px;
  border-radius: 5px;
  background-color: white;
}

.text-4 {
  position: absolute;
  color: #8a8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 68px;
  left: 37px;
}

.img-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 115px;
  left: 40px;
  display: inline-block;
}

.mins {
  position: absolute;
  display: inline-block;
  color: #8a8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 118px;
  left: 67px;
}

/*happening now*/

.happening {
  position: relative;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  top: 57px;
  left: 140px;
}

.happening-container {
  display: flex;
  gap: 20px;
  margin-left: 138px;
  margin-top: 30px;
}

/* LEFT BIG IMAGE */
.pic-now {
  position: relative;
}

.photo-7 {
  width: 758px;
  height: 430px;
  border-radius: 5px;
}

/* TEXT ON IMAGE */
.text-7 {
  position: absolute;
 top: 203px;
  left: 278px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

.pic-now-2 {
  position: relative;
}

.photo-8 {
  position: relative;
  width: 362px;
  height: 212px;
  border-radius: 5px;
  top: 0px;
  left: 45px;
}

.pic-now-3 {
  position: relative;
}

.photo-9 {
  position: relative;
  width: 362px;
  height: 212px;
  border-radius: 5px;
  top: 98px;
  left: 45px;
}
